body {
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#board {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 350px;
  height: 350px;
  margin-top: 100px;
  background-color: antiquewhite;
}
#board > div {
  display: flex;
  width: 100%;
  height: calc(100% / 8);
}
#board > div > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% / 8);
  height: 100%;
}
img {
  width: 45px;
}
.blackBlock {
  background-color: #769656;
}
.whiteBlock {
  background-color: #eeeed2;
}
.gameOver {
  display: none;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 200px;
  background-color: white;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  flex-direction: column;
  border: 3px solid black;
}
.button-1 {
  background-image: linear-gradient(#42a1ec, #0070c9);
  border: 1px solid #0077cc;
  border-radius: 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  direction: ltr;
  display: block;
  font-family: "SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue",
    Helvetica, Arial, sans-serif;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: -0.022em;
  line-height: 1.47059;
  min-width: 30px;
  overflow: visible;
  padding: 4px 15px;
  text-align: center;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.button-1:disabled {
  cursor: default;
  opacity: 0.3;
}

.button-1:hover {
  background-image: linear-gradient(#51a9ee, #147bcd);
  border-color: #1482d0;
  text-decoration: none;
}

.button-1:active {
  background-image: linear-gradient(#3d94d9, #0067b9);
  border-color: #006dbc;
  outline: none;
}

.button-1:focus {
  box-shadow: rgba(131, 192, 253, 0.5) 0 0 0 3px;
  outline: none;
}

.button-2 {
  background-color: initial;
  background-image: linear-gradient(-180deg, #00d775, #00bd68);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter, -apple-system, system-ui, Roboto, "Helvetica Neue", Arial,
    sans-serif;
  height: 44px;
  line-height: 44px;
  outline: 0;
  overflow: hidden;
  padding: 0 20px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: top;
  white-space: nowrap;
  width: 150px;
  z-index: 9;
  border: 0;
}

.button-2:hover {
  background: #00bd68;
}

.promotion {
  display: flex;
  background-color: white;
  position: absolute;
  gap: 10px;
  margin-top: 20px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  border: 5px solid white;
}

.promotion > div {
  background-color: #769656;
}

.promotion > div:hover {
  background-color: brown;
}
.options {
  display: flex;
  gap: 10px;
  position: fixed;
  bottom: 10px;
}
.options > button {
  cursor: pointer;
  width: 50px;
  height: 50px;
}
